{{> head }}

{{> navbar }}

<div class="row">
    <div class="col-3">
        <img src="assets/img/avatar.jpg" width="200px" class="img-thubnail">
    </div>

    <div class="col-9">
        <h1>{{ capitalizar nombre }}</h1>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis, incidunt.<br> 
            Provident natus cum ab nobis in debitis recusandae numquam repudiandae <br>
            voluptate asperiores possimus, esse nulla aliquid, distinctio aliquam! Explicabo, earum!<br>
        </p>
    </div>

    
</div>

{{> footer }}